GAODE_API_KEY=your_gaode_api_key_here
AMAP_VERSION=2.0

LIANJIA_API_BASE=https://bj.lianjia.com
ANJUKE_API_BASE=https://beijing.anjuke.com

DASH_DEBUG=True
DASH_PORT=8050
DASH_HOST=127.0.0.1

ENABLE_HEATMAP=True
HEATMAP_RADIUS=50
HEATMAP_OPACITY=0.8
