.sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.logo {
  height: 64px;
  margin: 16px;
  display: flex;
  align-items: center;
}

.header {
  background: #fff;
  padding: 0 24px;
  height: 64px;
  line-height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}
