<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <appSettings>
        <add key="ApiBaseUrl" value="http://localhost:8000/api"/>
        <add key="WebSocketUrl" value="ws://localhost:8000/ws"/>
        <add key="UnityEnginePath" value=""/>
        <add key="ThreeDModelPath" value=""/>
    </appSettings>
    <system.net>
        <defaultProxy useDefaultCredentials="true"/>
    </system.net>
</configuration>
