GAODE_TRAFFIC_KEY=your_amap_api_key_here

# 高德地图开放平台申请地址: https://console.amap.com/dev/key/app
# 需要申请 Web服务类型的Key，勾选「交通态势」服务权限
GAODE_GEOCODE_KEY=62894d3a0f745186ad4c99050a491b2f
GAODE_JS_API_KEY=9062eb1582a21d0abf3f69c47dd97c42