AMAP_API_KEY=your_amap_api_key_here
CRAWLER_DELAY_MIN=2
CRAWLER_DELAY_MAX=5
CRAWLER_RETRY_TIMES=3
PROXY_POOL_URL=
DEBUG=true
GAODE_GEOCODE_KEY=62894d3a0f745186ad4c99050a491b2f
GAODE_JS_API_KEY=9062eb1582a21d0abf3f69c47dd97c42